<div class="row">
  <div class="col-md-8">
    <h1>Wiki List</h1>
    <% @wikis.each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h3 class="media-heading">
          <% if wiki.private? %>
            <% if current_user.admin? || current_user.premium? %>
              <%= link_to wiki.title, wiki, class: "private" %> <small>Private Wiki</small>
            <% end %>
          <% else %>
            <%= link_to wiki.title, wiki %>
          <% end %>
        </h3>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-md-4">
    <% if current_user %>
      <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-primary' %>
    <% end %>
  </div>

</div>